.promotional {
    min-width: 100%;
    overflow-x: auto;
    padding: clamp(0.938rem, 0.509rem + 2.14vw, 2.438rem) clamp(0.938rem, 0.134rem + 4.02vw, 3.75rem) clamp(0.938rem, 0.634rem + 1.52vw, 2rem) clamp(0.938rem, -0.938rem + 9.38vw, 7.5rem);
}

.promotional-title {
    margin-top: 0;
    margin-bottom: 21px;
    color: #151716;
    font-family: "Orenburg", sans-serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: -0.5px;
}

.promotional__list {
    display: grid;
    grid-template-columns: repeat(4, minmax(262px, 300px));
    grid-template-rows: auto;
    padding: 0;
    margin: 0;
    list-style: none;

    @media screen and (max-width:800px) {
        column-gap: 16px;
    }
}


.promotional__item {
    display: flex;
    flex-direction: column;
    padding: 24px 20px 24px 20px;
    background: #ffffff;
    border: 1px solid #ECECEC;
}

.promotional__img-link {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
    text-align: left;
    height: 190px;
}

.promotional__lt-info {
    min-height: 36px;
    position: absolute;
    right: -9px;
    top: -13px;
    z-index: 1;
}

.promotional__lb-info {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 0px;
    bottom: 0px;
    z-index: 1;
}

.promotional-sale {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 11px 8px 11px;
    color: #ffffff;
    text-align: center;
    font-family: PT Sans;
    font-size: 16px;
    font-weight: 700;
    border-radius: 2px;
    background: #FF7028;
    overflow: hidden;

}

.promotional-discount {
    padding: 8px;
    margin-bottom: 5px;
    color: #ffffff;
    text-align: center;
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    border-radius: 2px;
    background: #285aff;
    overflow: hidden;
}

.promotional-new {
    padding: 8px;
    color: #ffffff;
    text-align: center;
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    border-radius: 2px;
    background: #ff2828;
    overflow: hidden;
}

.promotional__item-link {
    text-decoration: none;

}

.promotional__item-title {
    max-width: 260px;
    color: #151716;
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}

.promotional__price {
    margin-top: auto;
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.promotional__price-num {
    margin: 0;
    color: #151716;
    font-family: "PT Sans", sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
}

.promotional__s-num {
    color: #A5A5A5;
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    text-decoration-line: strikethrough;
}