.main-footer {}

.main-footer__wrapper {}

.main-footer__top {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.footer-logo {
    grid-column: 1 / 2;
}

.foooter__ifo-list {
    grid-column: 2 / 4;
    column-count: 2;
}

.foooter__ifo-item {}

.foooter__ifo-link {}

.foooter__questions-list {
    grid-column: 4 / 5;
}

.foooter__questions-item {}

.foooter__questions-title {}

.foooter__questions-link {}

.questions--email {}

.questions--phone {}

.foooter__social-list {}

.main-footer__copyright {}

.main-footer__copyright-text {}

.main-footer__copyright-link {}