.main__header {
    position: relative;
    background: rgba(6, 7, 7, 0.85);
    backdrop-filter: blur(75px);
    padding: 30px 0;
}

.main__header-nav {
    display: flex;
    align-items: center;
}

.main__header-logo {}

.main__header-text {
    margin-left: 26px;
    color: #939393;
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
}

.main__header-menu-list {}

.main__header-menu-item {}

.main__header-menu-link {}

.main__header-submenu-list {}

.main__header-submenu-item {}

.main__header-submenu-link {}

.main__header-profile-menu-list {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0 0 0 auto;
    padding: 0;
}

.main__header-profile-menu-item {}

.main__header-profile-menu-link {
    text-decoration: none;
}

.main__header-profile-phone {
    position: relative;
    display: inline-block;
    color: #999;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    transition: all 0.3s ease-in-out;

    &:hover {
        color: #F5702C;
    }

    & svg {
        position: absolute;
        left: -24px;
        fill: #999999;
        transition: all 0.3s ease-in-out;
    }

    &:hover svg {
        fill: #F5702C;
    }

}

.main__header-profile-menu-search-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('../../images/header-search.svg');
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 32px;
    padding: 20px;
    border-radius: 2px;
    border: 1px solid #494949;
}

.main__header-profile-menu-form__wrapper {
    position: fixed;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;

}

.main__header-profile-menu-form {
    padding: 31px 56px;
    position: absolute;
    top: 15px;
    min-width: 1086px;
    height: 121px;
    display: flex;
    align-items: center;
    background: #ffffff;
    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.25);
    overflow: hidden;

}

.main__header-profile-menu-form-label {
    display: flex;
    align-items: center;
}

.main__header-profile-menu-form-text {
    max-width: 218px;
    margin-right: 40px;
    color: #151716;
    font-size: 32px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: -0.5px;
}

.main__header-profile-menu-input {
    padding: 16px 20px 16px 16px;
    width: 581px;
    color: #7B7B7B;
    font-family: "PT Sans", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;

    &:focus {
        border-radius: 2px;
        border: 1px solid #EC9F76;
        outline: none;
        background: #FFF;
        box-shadow: 0px 0px 6px 0px #FF7028;

    }

    &::placeholder {
        color: #7B7B7B;
        font-family: "PT Sans", sans-serif;
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
    }
}

.main__header-profile-menu-form-btn {
    width: 130px;
    position: relative;
    padding: 12px 24px;
    margin-left: 12px;
    color: #ffffff;
    cursor: pointer;
    text-align: center;
    font-family: "PT Sans", sans-serif;
    font-size: 18.667px;
    font-weight: 700;
    line-height: 28px;
    border-radius: 2.333px;
    background: #FF7028;
    border: none;
    border-radius: 3px;
    outline: 1px solid transparent;

    &::before {
        position: absolute;
        content: '';
        left: 4px;
        top: 4px;
        right: 0;
        width: 130px;
        height: 52px;
        border: 2px solid #FF7028;
        border-radius: 3px;
    }

    &:focus {
        outline: 1px solid #d15315;
    }

}

.main-footer {}